body {
  background-color: #fbfbf8;
}

.cont--max-width {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont--file-drop {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: calc(100% - 2rem);
  align-items: center;
  justify-content: center;
  margin-top: 1rem !important;
  min-height: 300px;
  height: 50vh;
  max-height: 400px;
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  border: dashed 5px #41403E;
  border-top-left-radius: 120px 10px;
  border-top-right-radius: 10px 120px;
  border-bottom-right-radius: 120px 10px;
  border-bottom-left-radius: 10px 120px;
}

button {
  background-color: #FDFD96;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-style: normal;
  color: #41403E;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 0 0.5rem;
  margin: 1rem 0.5rem;
  border: solid 4px #41403E;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:hover {
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
}

.disabled-button {
  opacity: 50%;
  cursor: default;
}

.cont--file-drop span {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #605f5b;
}

.cont--file-drop .drop-message {
  font-size: 1.2rem;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-style: normal;
  color: #605f5b;
}

.cont--file-drop .span--browse-files {
  font-size: 1.2rem;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-style: normal;
  color: #00c8ff;
  cursor: pointer;
  user-select: none;
}

.cont--img {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-top-left-radius: 120px 10px;
  border-top-right-radius: 10px 120px;
  border-bottom-right-radius: 120px 10px;
  border-bottom-left-radius: 10px 120px;
}

.cont--img.visible {
  display: block;
  background-color: #fbfbf8;
  object-fit: contain;
}


.x-icon {
  position: absolute;
  z-index: 3;
  height: 2rem;
  width: 2rem;
  right: 0.75rem;
  top: 0.5rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.x-icon:hover {
  height: 2.2rem;
  width: 2.2rem;
  right: 0.65rem;
  top: 0.4rem;
}

.cont--file-drop .span--browse-files:hover {
  color: #00a8d6;
}

.file {
  display: none;
}